@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  @apply bg-gray-50 text-gray-800 antialiased;
}

.dark body {
  @apply bg-gray-900 text-gray-100;
}

* {
  transition: background-color 0.2s ease,
              color 0.2s ease,
              transform 0.2s ease;
}
